apiVersion: 1

datasources:
  - name: ClickHouse
    uid: clickhouse
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: true
    editable: true
    jsonData:
      host: __CLICKHOUSE_HOST__
      port: __CLICKHOUSE_PORT__
      protocol: http
      defaultDatabase: __CLICKHOUSE_DATABASE__
      username: __CLICKHOUSE_USER__
    secureJsonData:
      password: "__CLICKHOUSE_PASSWORD__"
